<%= form_for @content, :as => :content,
    :url => {:action => 'update_issue_wiki', :id => @issue.id , :issue_wiki_id => @page.title},
    :html => {:method => :put, :multipart => true, :id => 'issue_wiki_form', :remote => remote_flag} do |f| %>
<%= hidden_field_tag 'content[version]', @content.version %>
<%= error_messages_for 'content' %>

<div class="box tabular">
<%= edit_issue_wiki_sections(@page, @text,@project,@master_edit) %>

<p><label><%=l(:label_attachment_plural)%></label><%= render :partial => 'attachments/form' %></p>
</div>

<p><%= submit_tag l(:button_save) %>
   <%= preview_link({:controller => 'issue_wiki', :action => 'preview', :id => @issue.id, :project_id => @project.id }, 'issue_wiki_form',
    'issuewikipreview') %></p>
<% end %>

<div id="issuewikipreview" class="wiki"></div>

<% content_for :header_tags do %>
  <%= robot_exclusion_tag %>
<% end %>

<% html_title @page.pretty_title %>
