<div class="contextual">
<% if @editable %>
<% if @content.current_version? %>
  <%= link_to_if_authorized(l(:button_master_edit), {:controller => 'issue_wiki', :action => 'master_edit_issue_wiki', :id => @issue.id },
      :remote => true, :class => 'icon icon-edit') %>
  <%= link_to_if_authorized(l(:button_edit), {:controller => 'issue_wiki', :action => 'edit_issue_wiki', :id => @issue.id },
      :remote => true, :class => 'icon icon-edit', :accesskey => accesskey(:edit)) %>
  <%#= watcher_link(@page, User.current) %>
  <%= link_to_if_authorized(l(:button_lock), {:controller => 'issue_wiki', :action => 'protect', :id => @issue.id,
    :protected => 1, :version => @content.version }, :remote => true, :method => :post, :class => 'icon icon-lock') if !@page.protected? %>
  <%= link_to_if_authorized(l(:button_unlock), {:controller => 'issue_wiki', :action => 'protect', :id => @issue.id,
    :protected => 0, :version => @content.version }, :remote => true, :method => :post, :class => 'icon icon-unlock') if @page.protected? %>
  <%= link_to_if_authorized(l(:button_rename), {:controller => 'issue_wiki', :action => 'rename',  :id => @issue.id,
    :version => @content.version }, :remote => true, :class => 'icon icon-move') %>
  <%= link_to_if_authorized(l(:button_delete), {:controller => 'issue_wiki', :action => 'destroy', :id => @issue.id},
    :method => :delete, :data => {:confirm => l(:text_are_you_sure)}, :class => 'icon icon-del') %>
<% else %>
  <%= link_to_if_authorized(l(:button_rollback), {:controller => 'wiki', :action => 'edit', :issue_id => @issue.id,
    :id => @page.title, :project_id => @project.id, :version => @content.version }, :class => 'icon icon-cancel') %>
<% end %>
<% end %>
<%= link_to_if_authorized(l(:label_history), {:controller => 'wiki', :action => 'history',:issue_id => @issue.id,
      :id => @page.title, :project_id => @project.id}, :class => 'icon icon-history') %>
</div>

<%= wiki_page_breadcrumb(@page) %>

<%= render(:partial => "wiki/content", :locals => {:content => @content}) %>

<%= link_to_attachments @page %>

<% if @editable && authorize_for('wiki', 'add_attachment') %>
<div id="wiki_add_attachment">
<p><%= link_to l(:label_attachment_new), {}, :onclick => "$('#add_attachment_form').show(); return false;",
                                             :id => 'attach_files_link' %></p>
<%= form_tag(add_attachment_issue_wiki_path(@issue),
             :multipart => true, :id => "add_attachment_form",
             :style => "display:none;") do %>
  <div class="box">
  <p><%= render :partial => 'attachments/form' %></p>
  </div>
<%= submit_tag l(:button_add) %>
<%= link_to l(:button_cancel), {}, :onclick => "$('#add_attachment_form').hide(); return false;" %>
<% end %>
</div>
<% end %>

<% other_formats_links do |f| %>
  <%= f.link_to 'PDF', :url => {:id => @page.title, :version => params[:version]} %>
  <%= f.link_to 'HTML', :url => {:id => @page.title, :version => params[:version]} %>
  <%= f.link_to 'TXT', :url => {:id => @page.title, :version => params[:version]} %>
<% end if User.current.allowed_to?(:export_wiki_pages, @project) %>


<% html_title @page.pretty_title %>
